Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^public(?:/|$) - [F,L,NC]
    RewriteRule ^(?:config|database|docs|src|templates|tests|var|vendor)(?:/|$) - [F,L,NC]
    RewriteRule ^(?:composer\.(?:json|lock)|\.env(?:\..*)?|.*\.(?:pem|key|p12|pfx))$ - [F,L,NC]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
